h1{
    color:darkblue;
    text-align: center;
 }
 h2{
    color: green;
 }
 h3{
    color:indigo;
 }
 h4{
    color: crimson;
 }
 li{
   color: rgb(0, 128, 109);
}
html{
   background-color: wheat;
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.black-txt{
   color: rgb(0, 0, 0);
}